
.header {
  overflow: hidden;
  background-color: #5c5c5c;
  padding: 1.2rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header a:not(a.logo) {
  color: black;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  align-self: flex-end;
  justify-content: flex-end;
}

.header a.logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.8rem;
  text-decoration: none;
  line-height: 2rem;
  border-radius: 0.25rem;
  flex: 20;
  text-align: left;
  align-self: flex-start;
  align-items: flex-start;
}


.header a:hover:not(a.logo) {
  background-color: #3a3838;
  color: black;
}

.searchbar{
  margin: 1rem;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9c9c9c;

  text-align: center;
}


.popular_titles{
  margin: 0;
  font-size: 2rem;
  padding: 2rem;
}

.photo {
  height: 15%;
  width: 15%;
  margin: 1rem;
  align-self: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  justify-content: space-around;
}



.photo:hover {
  height: 16%;
  width: 16%;
}

.content{
  background-color: rgba(202, 202, 202, 0.5);
}
.link_to_submission{
  padding: 2rem;
}
