/* Header */
.header {
  overflow: hidden;
  background-color: #474873;
  padding: 1.2rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header a:not(a.logo) {
  color: black;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.header a:not(a.logo):hover {
  color: black;
}

.header a.logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.8rem;
  text-decoration: none;
  line-height: 2rem;
  border-radius: 0.25rem;
  flex: 20;
  text-align: left;
  align-self: flex-start;
  align-items: flex-start;
}

.header a:hover:not(a.logo) {
  background-color: #2d2e59;
  color: #000000;
  transition: 0.2s;
}

.searchbar{
  margin: 1rem;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9799a8;
  text-align: center;
}
/* Boxes */
/* General */

/* Box Welcome */
.box_welcome{
  width: 15rem;
  height: 2rem;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  padding: 3rem;
  background-color: #696781;
}
.box_welcome:hover{
  width: 17rem;
  height: 2.25rem;
  border: 0.5rem solid #2d2e59;
  font-size: 2.25rem;
  transition: 0.2s;
}
/* Box Game data */
.desc_box_data{
  width: 20rem;
  height: 20rem;
  border: 0.8rem solid #2d2e59;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #696781;
  align-content: center;
  align-self: center;
}

.desc_box_data:hover{
  width: 22rem;
  height: 22rem;
  transition: 0.3s;
}

.box_data{
  width: 30rem;
  height: 5rem;
  border: 0.8rem solid #2d2e59;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #696781;
  align-content: center;
  align-self: center;
}
.box_data:hover{
  width: 32rem;
  height: 7rem;
  transition: 0.3s;
}

/* Box Game_info */
.desc_box_info{
  width: 20rem;
  height: 10rem;
  border: 0.5rem solid #696781;
  border-radius: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 1rem;
  background-color: #696781;
  align-content: center;
  align-self: center;
}

.desc_box_info:hover {
  height: 15rem;
  width: 22rem;
  border: 0.6rem solid #2d2e59;
  font-size: 1.25rem;
  transition: 0.3s;
}

.box_info_title{
  width: 15rem;
  height: 2rem;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  padding: 3rem;
  background-color: #696781;
}

.box_info{
  width: 30rem;
  height: 5rem;
  border: 0.4rem solid #696781;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #696781;
  align-content: center;
  align-self: center;
}

.box_info:hover {
  width: 32rem;
  height: 6.5rem;
  border: 0.5rem solid #2d2e59;
  font-size: 1.08rem;
  transition: 0.3s;
}
/* Box Game submission */
.box_*{
}
.box_submission{
  width: 40rem;
  height: 20rem;
  border: #696781;
  border-radius: 1rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: #696781;
}

.box_submission:hover{
  width: 42rem;
  border: 0.4rem solid #2d2e59;
  transition: 0.2s;
}
/* Box Lists */

/* Box Login */
.box_login{
  width: 20rem;
  border: 0.4rem solid #696781;
  border-radius: 1rem;
  margin-top: 12.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: #696781;
}
.box_login:hover{
  width: 21rem;
  border: 0.4rem solid #2d2e59;
  transition: 0.2s;
}

/* Box Reviews */

.box_reviews{
  width: 25rem;
  height: 5rem;
  border: 0.4rem solid #696781;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #696781;
  align-content: center;
  align-self: center;
}

.box_reviews:hover {
  width: 27rem;
  height: 7rem;
  border: 0.4rem solid #2d2e59;
  font-size: 1.1rem;
  transition: 0.3s;
}



/* Photos */


.photo {
  height: 15%;
  width: 15%;
  margin: 1rem;
  align-self: center;
  border: 0.45rem solid rgba(105, 103, 129, 0.75);
  border-radius: 1rem;
}

.list_images {
  display: flex;
  flex-wrap: wrap;
  flex: 20%;
  justify-content: space-around;
}

.photo:hover {
  height: 16%;
  width: 16%;
  border: 0.55rem solid #2d2e59;
  transition: 0.3s;
}

/* Welcome */
.images {
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  justify-content: space-around;
}

.link_to_submission{
  color: black;
  font-weight: bold;
  padding: 2rem;
}
.link_to_submission:hover{
  font-size: 1.25rem;
  transition: 0.3s;
}


/* Game data */
.review_title{
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.review_section{
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  margin: 1rem;
  justify-content: space-between;
  align-self: center;
}
.titles{
  display: flex;
  flex-wrap: wrap;
  flex: 10rem;
  margin: 1rem;
  justify-content: space-around;
  align-self: center;
}
.pie_chart {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: conic-gradient(#2a2a7e 74deg, #2caa10 0 113deg, #6e6464 0 275deg, #b33131 0);
}

.pie_chart:hover {
  width: 21rem;
  height: 21rem;
  transition: 0.3s;
}

.nintendo{
  color: darkred;
}
.playstation{
  color: darkblue;
}
.xbox{
  color: #147514;
}
.pc{
  color: #222222;
}


/* Game info */
.titles_info{
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  justify-content: space-around;
  align-content: start;
  margin: 1rem;
}


.related-title{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem;
  text-decoration: none;
}
.related-title:hover{
  font-size: 1.75rem;
  transition: 0.3s;
}

.main_body {
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  margin: 1rem;
  justify-content: space-around;
}

.review_title{
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.review_title:hover{
  font-size: 2.5rem;
  transition: 0.3s;
}
.review_section{
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  margin: 1rem;
  justify-content: space-between;
  align-self: center;
}
/* Game submission */

/* Lists */

/* Login */
.link_login{
  color: black;
  font-weight: bold;
}

/* Reviews */
.review_title_reviews{
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.review_title_reviews:hover{
  font-size: 2.5rem;
  transition: 0.3s;
}
.review_section_reviews{
  display: flex;
  flex-wrap: wrap;
  flex: 12.5rem;
  margin: 1rem;
  justify-content: space-between;
  align-self: center;
}

/* Input box */

.input-box{
  width: 20%;
  padding: 2rem;
  box-sizing: border-box;
}
.signin{
    align-self: center;
}

/* Welcome */


/* General */
/* Welcome */
/* Game data */
/* Game info */
/* Game submission */
/* Lists */
/* Login */
/* Reviews */